.review-item{
    border: 1px solid gray;
    border-radius: 8px;
    width: 571px;
    margin-bottom: 25px;
    padding: 8px;
    display: flex;
}

.review-item img{
    width: 91px;
    height: 91px;
    border-radius: 8px;
    margin-top: 4px;
    margin-left: 4px;
}

.review-detail{
    flex-grow: 1;
}

.review-detail p{
    margin: 0 15px;

}

.review-item .product-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}